* {
  margin: 0;
  padding: 0;
}

[data-vista] {
  position: relative;
  min-height: 100vh;
}

.oculto {
  display: none !important;
}
.mensaje_oculto {
  display: none !important;
}

.hidden {
  display: none;
}

#bienvenida {
  font-family: "Arial", sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1264%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1265%26quot%3b)'%3e%3c/rect%3e%3cpath d='M1920 0L1679.44 0L1920 427.92z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1679.44 0L1920 427.92L1920 733.26L904.23 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M904.23 0L1920 733.26L1920 917.94L362.18000000000006 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M362.18000000000006 0L1920 917.94L1920 1000.07L242.38000000000005 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 1080L718.42 1080L0 629.5799999999999z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 629.5799999999999L718.42 1080L757.93 1080L0 446.68999999999994z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 446.69000000000005L757.93 1080L1345.96 1080L0 319.1600000000001z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 319.1600000000001L1345.96 1080L1371.96 1080L0 290.4800000000001z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1264'%3e%3crect width='100%' height='100%' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1265'%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 157%2c 158%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

#agenda_tarea {
  height: 100vh;
  font-family: "Arial", sans-serif;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1264%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1265%26quot%3b)'%3e%3c/rect%3e%3cpath d='M1920 0L1679.44 0L1920 427.92z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1679.44 0L1920 427.92L1920 733.26L904.23 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M904.23 0L1920 733.26L1920 917.94L362.18000000000006 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M362.18000000000006 0L1920 917.94L1920 1000.07L242.38000000000005 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 1080L718.42 1080L0 629.5799999999999z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 629.5799999999999L718.42 1080L757.93 1080L0 446.68999999999994z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 446.69000000000005L757.93 1080L1345.96 1080L0 319.1600000000001z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 319.1600000000001L1345.96 1080L1371.96 1080L0 290.4800000000001z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1264'%3e%3crect width='100%' height='100%' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1265'%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 157%2c 158%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#splashScreen {
  font-family: "Arial", sans-serif;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1264%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1265%26quot%3b)'%3e%3c/rect%3e%3cpath d='M1920 0L1679.44 0L1920 427.92z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1679.44 0L1920 427.92L1920 733.26L904.23 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M904.23 0L1920 733.26L1920 917.94L362.18000000000006 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M362.18000000000006 0L1920 917.94L1920 1000.07L242.38000000000005 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 1080L718.42 1080L0 629.5799999999999z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 629.5799999999999L718.42 1080L757.93 1080L0 446.68999999999994z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 446.69000000000005L757.93 1080L1345.96 1080L0 319.1600000000001z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 319.1600000000001L1345.96 1080L1371.96 1080L0 290.4800000000001z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1264'%3e%3crect width='100%' height='100%' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1265'%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 157%2c 158%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#info {
  height: 100vh;
  font-family: "Arial", sans-serif;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1264%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1265%26quot%3b)'%3e%3c/rect%3e%3cpath d='M1920 0L1679.44 0L1920 427.92z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1679.44 0L1920 427.92L1920 733.26L904.23 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M904.23 0L1920 733.26L1920 917.94L362.18000000000006 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M362.18000000000006 0L1920 917.94L1920 1000.07L242.38000000000005 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 1080L718.42 1080L0 629.5799999999999z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 629.5799999999999L718.42 1080L757.93 1080L0 446.68999999999994z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 446.69000000000005L757.93 1080L1345.96 1080L0 319.1600000000001z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 319.1600000000001L1345.96 1080L1371.96 1080L0 290.4800000000001z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1264'%3e%3crect width='100%' height='100%' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1265'%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 157%2c 158%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#nav-menu {
  background-color: rgb(105, 147, 145, 0.7);
  width: 100%;
  height: 53px;
  display: flex;
  justify-content: end;
  align-items: center;
}

#logoff {
  height: 50px;
  margin-right: 20px;
  cursor: pointer;
}

#logoInfo {
  height: 37px;
  margin-right: 20px;
  cursor: pointer;
}

#contenedor-tareas {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #fff;
}

input[type="text"],
input[type="file"] {
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 10px 30px 10px 30px;
  background-color: rgb(105, 147, 145, 0.7);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(105, 147, 145, 1);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #fff;
  margin: 8px 0;
  padding: 12px;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

span {
  flex-grow: 1;
  margin-right: 10px;
}

button.delete,
button.complete {
  border-radius: 50px;
  margin: 20px;
  padding: 0px;
  cursor: pointer;
}

button.delete {
  background-color: #e74c3c;
  color: #fff;
  border: none;
}

button.delete:hover {
  background-color: #c0392b;
}

button.complete {
  color: #fff;
  border: none;
}

button.complete:hover {
  background-color: rgb(11, 97, 110);
}
.fechaInput {
  margin: 10px;
}

#contenedor-info {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logoAgenda {
  height: 37px;
  margin-right: 20px;
  cursor: pointer;
}

#logo {
  margin-left: 30%;
  height: 150px;
  margin-right: 200px;
  cursor: pointer;
}

#ingresoTarea {
  width: 65%;
  margin: 10px;
  margin-left: 13%;
}

#boton_agregar_tarea {
  border-radius: 20%;
}

#contenedor-botones-tareas {
  width: 50%;
}

h2 {
  color: #2a9d9e;
}

@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
  #ingresoTarea {
    width: 55%;
    margin: 10px;
    margin-left: 5%;
  }
}
@media (max-width: 576px) {
  input[type="text"],
  input[type="file"] {
    padding: 8px;
    margin: 2px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  #ingresoTarea {
    width: 55%;
    margin: 10px;
    margin-left: 5%;
  }
}
@media (max-width: 320px) {
  #ingresoTarea {
    width: 100%;
    margin: 5px;
  }
  #contenedor-botones-tareas {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button {
    width: 70%;
    background-color: rgb(105, 147, 145, 0.7);
    color: #fff;
    border: none;
    cursor: pointer;
  }
  #agenda_tarea {
    height: 100%;
    font-family: "Arial", sans-serif;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1264%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1265%26quot%3b)'%3e%3c/rect%3e%3cpath d='M1920 0L1679.44 0L1920 427.92z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1679.44 0L1920 427.92L1920 733.26L904.23 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M904.23 0L1920 733.26L1920 917.94L362.18000000000006 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M362.18000000000006 0L1920 917.94L1920 1000.07L242.38000000000005 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 1080L718.42 1080L0 629.5799999999999z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 629.5799999999999L718.42 1080L757.93 1080L0 446.68999999999994z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 446.69000000000005L757.93 1080L1345.96 1080L0 319.1600000000001z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 319.1600000000001L1345.96 1080L1371.96 1080L0 290.4800000000001z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1264'%3e%3crect width='100%' height='100%' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1265'%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 157%2c 158%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
}
